<!DOCTYPE html>
<html lang="en" ng-app="MyApp" ng-cloak>
<head>
    <meta charset="UTF-8">
    <title>User Registration Form</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="app/app.js"></script>



</head>
<body ng-controller="MyCtrl as myCtrl">

<div ng-show="myCtrl.show"></div>

<div class="container"></div>

<form id="UserRegForm" name="UserRegForm" class="form"
      ng-submit="myCtrl.submit() && UserRegForm.$valid" novalidate>


    <div class="row">
        <h1 class="text-center">User Registration Form</h1>
    </div>


    <!-- Input Fields: Email, Password, Name, Gender, Address etc -->

    <div class="form-group">
        <label class="control-label" for="email">Email address:</label>
        <input type="email" class="form-control" id="email" name="email"
               ng-model="myUserRegForm.email" autocomplete="off" required>
    </div>


    <div class="validation" data-ng-show="UserRegForm.email.$touched || UserRegForm.$submitted">
                    <span data-ng-show="UserRegForm.email.$error.required" class="validation-eror">
                        Email is mandatory
                    </span>
        <span data-ng-show="UserRegForm.email.$error.email" class="validation-eror">
                        Invalid email
                    </span>
    </div>

    <p></p>

    <div class="form-group">
        <label for="password-id">
            Password
            <input type="password"
                   id="password-id"
                   class="form-control validate"
                   name="password"
                   placeholder="&#9679;&#9679;&#9679;&#9679;"
                   required onchange="validate()"></label>
    </div>


    <div class="form-group">
        <label class="control-label" for="name">Name </label>
        <input type="type" class="form-control" id="name" name="name"
               ng-model="myCtrl.UserRegForm.name" required>
    </div>


    <div class="validation" data-ng-show="UserRegForm.name.$touched || UserRegForm.$submitted">
                        <span data-ng-show="UserRegForm.name.$error.required" class="validation-eror">
                            Name is mandatory
                        </span>
    </div>

    <p></p>


    <div class="form-group">
        <label for="gender">Gender:</label>
        <input type="text"
               id="gender">
        <label for="maleid">Male</label>
        <input type="radio" name="sex" value="Male" id="maleid">
        <label for="femaleid">Female</label>
        <input type="radio" name="sex" value="Female" id="femaleid">
    </div>


    <div class="form-group">
        <label for="date-birth" class="control-label">Date of Birth:</label>
    </div>

    <div class="control">
        <input id="date-birth" class="form-control" type="date" ng-model="dateBirth">

        <ul ng-messages="UserRegForm.dob.$touched && UserRegForm.dob.$error">
            <li ng-message="required">Your date of birth is required</li>
            <li ng-message="min">Registrant must be at least 18 years of age.</li>
            </li>
        </ul>
    </div>


    <div class="form-group">
        <label for="address">Address:</label>
        <input type="text"
               id="address"
               class="form-control validate"
               name="address"
               required onchange="validate()">
    </div>

    <div class="form-group">
        <label for="country">Country:</label>
        <input type="text"
               id="country"
               class="form-control validate"
               name="Country"
               required onchange="validate()">
    </div>

    <div class="form-group">
        <label class="control-label" for="phone">Contact No:</label>

        <input type="number" class="form-control" maxlength="8"
               id="phone"
               name="phone"
               placeholder="Contact No"
               name="phone"
               ng-minlength="8"
               ng-maxlength="8"
               ng-model="myCtrl.phone"
               ng-required="true"
               ng-class="has-error"
               autocomplete="off"
               required/>
        <span class="validation-error"
              data-ng-show="(
                           (UserRegForm.phone.$error.minlength ||
                           UserRegForm.phone.$error.maxlength) &&
                           UserRegForm.phone.$dirty) ">
                           valid Input
                </span>
        </div>


             <button type="submit" class="btn btn-primary"
                ng-disabled="UserRegForm.$valid">
            Submit
        </button>
</form>


<div class="alert alert-success" role="alert" data-ng-show="myCtrl.server_response.reply == all">
{{myCtrl.server_response.name}} Thank You!
</div>
<div class="alert alert-danger" role="alert" data-ng-show="myCtrl.server_response.reply == incomplete">
    {{myCtrl.server_response.name}} Sorry, please check your input.
</div>



</body>



</html>